.wrapper {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 1rem;
    
    width: 75%;

    border-radius: 1rem;
    background-color: #F5F7F9;
    color: black;
    
    transform: translate(calc(-50% - 1rem), calc(-100% - 1rem));
    animation: out 2s;
}
@keyframes out {
    0% { transform: translate(calc(-50% - 1rem), 0); }
    75% { transform: translate(calc(-50% - 1rem), 0); }
    100% { transform: translate(calc(-50% - 1rem), calc(-100% - 1rem)); }
}