.block {
    margin: 16px;
    padding: 16px;

    width: auto;

    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}

.block > div:not(:last-child) {
    border-bottom: 1px solid #7f7f7f;
}