.wrapper {
    height: 100svh;
    width: 100svw;

    background-color: black;
    font-size: var(--text-size);
}

.switchButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;    
}